# Configuration file

world {
    B:bookmarkOverlayEnabled=false

    # Obtener elementos en lugar de mostrar la receta.
    B:cheatItemsEnabled=false

    # Ocultar y mostrar elementos haciendo clic en ellos en la lista de elementos.
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


